body {
    background-color: rgba(0, 0, 0, 0.863);
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}